@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');



body{
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px;
  margin: 0px;
  color: #424242;
  width: 100%;
}

::selection {
  background: #82ffb6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #82ffb6; /* Gecko Browsers */
}

header{
  width: 100% !important;
  height: 88px;
  display:inline-block;
  position:fixed;
  line-height: 88px;
  top:0;
  z-index:9;
  transition: top 0.2s ease-in-out;
} 

.box-menu{
  display: inline-block;
  float: right;
  padding: 0px 36px 0px 0px;
}


h1, h3, h2{
  padding: 0px;
  margin:0;
  font-weight: 100;
}

h1{
  font-size: 82px;
  font-weight: 200;
}

h2{
  line-height: 32px;
}

h3{
  font-weight: 500;
  text-decoration: underline;
}
span{
  padding: 0;
  margin: 0;
}

.hero-box{
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: auto;
  margin-top: 176px;
  margin-bottom: 120px;
  position: relative;
}

.left-item{
  width: 60%;
}

.hero-message{
  line-height: 82px;
  font-weight: 500;
  padding-bottom: 16px;
}

.right-item{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}

.button-primary {
	background-color:#ffffff;
  text-indent:0;
	border:2px solid #82ffb6;
	display:block;
	color:#424242;
	font-family:'Roboto Condensed';
	font-size:18px;
	font-weight:400;
	font-style:normal;
  height:48px;
	line-height:46px;
  width:auto;
  padding: 0px 32px;
	text-decoration:none;
  text-align:center;
}
  
  .button-primary:hover {
  background-color:#82ffb6;  
}

.button-primary:active {
	position:relative;
	top:1px;
}

.photo-description{
  display: block;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 40px;
}

.non{
  text-decoration:line-through;
  font-weight: 200;
  color:#1C1C1C;
}

.non-white{
  text-decoration:line-through;
  font-weight: 200;
  color:#424242;
}

.content-1{
  height: 310px;
  padding: 140px 100px 0px 100px;
  /* background-image: url(/img/background-noncreative.svg); */
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-2{
  height: 200px;
  background-color: #424242;
  color: white;
  text-align: center;
  padding:180px 20px 130px 20px;
}


#arrow {
  position: fixed;
  right: 5%;
  top: 41.5%;
}

.content-form{
  background-color:#1c1c1c;
  color:#424242;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 180px;
  text-align: center;
  padding-top: 100px;
}

.contact-title{
  font-size: 60px;
  font-weight: 700;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom:0;
}

.contact-mail{
  font-size: 40px;
  font-weight: 700;
  padding-bottom:20px;
  color: #424242;
  margin:0;
}

.contact-description{
  margin-bottom:0px;
  padding: 30px 0px 0px 0px;
}

.title-quote{
  font-size: 50px;
  font-weight: 700;
  text-decoration: underline;
}

.description-quote{
  font-size:20px
}

#content-left{
  width: 30%;
  display: block;
  float: left;
}

#content-left-form{
  width: 60%;
  height: 160px;
  display: block;
  float: left;
}

#content-right-form{
  width: 50%;
  height: 160px;
  display: block;
  float: right;
}

.message-left-form{
  font-size: 33px;
  font-weight: 700;
  padding-top:20px;
}


input{
  display: block;
  width: 90%;
  height: 40px;
  margin:10px 0px 10px 0px;
  float: right;
  border-radius: 5px;
  border: none;
}

input[type=button] {
  background-color: #82FFB7;
  border: none;
  color:#424242;
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
  height: 60px;
  width:70%;
  float: right;
}

input[placeholder] {
  font-size: 20px;
  padding-left: 10px;
  top: 0;
}

.form-message {
  height: 100px;
}

#content-right{
  width: 100%;
  display: block;
  float: right;
}

.bigtitle{
  font-size:80px;
  text-decoration: underline;
  font-weight: 600 !important;
  padding-left:30%;
  padding-top:115px;
  color: #424242;
}


footer{
  width: 80%;
  padding: 10px 10%;
  height: 130px;
  background-color: #82FFB7;
  color:#424242;
}

.footer-left-box{
  width: 30%;
  float: left;
}

.footer-right-box{
  float: right;
  padding: 52px 0px 0px 0px; 
}

.logo-footer{
  font-weight: 700;
  font-size: 24px;
}

.non-footer{
  text-decoration:line-through;
  font-weight: 200;
}

.footer-icon{
  position: inherit;
}

.description{
  font-size: 24px;
  color: #424242;
  padding:190px 10% 0px 10%;
  line-height: 32px;
}

.logo-desktop, .linklogo{
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
  float: left;
  font-size: 26px;
  padding-left: 15px;
}



.logo-desktop-white-rotate {
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
  font-size: 26px;
  transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: fixed;
  top: 50%;
  left: -2%;
}

.description-desktop-white-rotate{
	position: fixed;
	top: 50%;
	right: 51px;
	-webkit-transform: translate(50%,-50%) rotate(90deg);
	transform: translate(50%,-50%) rotate(90deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	z-index: 5;
  margin: .75em 0 0;
  font-size: 20px;
  font-weight: 500;
}

.menu-right{
  float: right;
}

ul{
  float: right;
  padding: 0px;
  margin:0px; 
  padding-top: 8px;
}
li{
  padding: 10px 10px 0px 10px;
  display: inline;
  margin: 0;
  text-align: right;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}


a, a:visited, a:active{
  text-decoration: none;
  color:#424242;
  font-weight: 400;
}

a:hover{  
  color:#9e9e9e;
}

.container-main{
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  grid-column-gap:10px;
  max-width: 100%;
  padding: 0px 100px 0px 100px;
  background-color: white;
  margin: auto;
}

.grid > div {
  background-color:rgb(130 255 183);
}

.box-artwork{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.box-artwork-img{
  width: 100%;
  height: 100%;
  display: block;
}

.control-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color:#1C1C1C;
  height: 80px;
}

.vertical-image{
  max-height: 100%;
}

.item-flex{
  text-align: center;
  flex-grow: 2;
}

.breadcumbs{
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 16px 0px;
}

/* SIDEBAR */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  right: 0;
  background-color: #1c1c1c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: inline-block;
  transition: 0.2s;
  font-weight: 300;
  font-size: 18px;
}

.underline{
  text-decoration: underline !important;
  text-decoration-color:#82FFB7 !important;
}

.sidenav a:hover {
  color: #9e9e9e;
}

.sidenav .closebtn {
  position: absolute;
  top: 11px;
  right: 24px;
  font-size: 36px;
}

.sidenav .categoria{
  font-size: 22px;
  color: white;
  padding: 16px 0px 8px 24px ;
  margin: 0px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color:#82FFB7;
  border-radius: 50%;
  display: inline-block;
}

.sidenav .item-menu{
  font-size: 16px;
}

.nav-up {
  top: -88px;
}

.remove-lateral-brand {
  display: none;
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-11 10:12:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-blur-out {
	-webkit-animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-11 10:14:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* SIDEBAR END */

@media only screen and (max-width:1275px){

  #background2{
    display: none
  }
  #arrow {
    position: fixed;
    right: 5%;
    top: 32%;
  }

}

/* MAX WIDTH 320 PX  - START */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 120px) and (max-width : 480px) {
  
  header{
    width: 100% !important;
    height: 88px;
    display:block;
    position:fixed;
    line-height: 88px;
  } 

  .box-menu{
    display: inline-block;
    float: right;
    padding:36px 36px 0px 0px;
  }

  .description-desktop-white-rotate{
    display: none;
  }

  h1{
    font-size: 42px;
  }

  h2{
    font-size: 18px;
    line-height: 20px;
  }
  
  h3{
    font-size: 32px !important;
  }

  .hero-box{
    width: 90%;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 176px;
    margin-bottom: 120px;
    position: relative;
  }
  
  .left-item{
    width: 100%;
  }
  
  .hero-message{
    line-height: 42px;
    font-weight: 500;
    padding-bottom: 16px;
  }
  
  .right-item{
    display: flex;
    justify-content: center;
  }

  .button-primary{
    margin-top: 30px;
  }

  .menu-hamburger {
    cursor:pointer;
    display: block;
    color: inherit;
  }
  
  footer{
    height: 80px;
    background-color: #1C1C1C;
    color:#424242;
    clear: both;
    position: relative;
    margin-top: -200px;
  }

  .content-1{
    height: 280px;
    padding: 0px 10px 0px 10px;
    /* background-image: url(/img/background-noncreative.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  

  .bigtitle{
    font-size:55px;
    text-decoration: underline;
    font-weight: 600 !important;
    padding-left:20px;
    padding-top:85px;
    color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap:10px;
    max-width: 100%;
    padding: 10px 10px 0px 10px;
    background-color: white;
  }

  .grid > div {
    padding:0.5em;
    background-color: #F0F0F0
  }
  .contact-mail{
    font-size: 30px;
    font-weight: 700;
    padding-bottom:20px;
    color: #424242;
    margin:0;
  }

  .description{
    font-size: 17px;
    color: #424242;
    padding: 15px 10px 0px 60px;
    line-height: 23px;
  }

  #content-left{
    width: 100%;
    display: block;
    float: left;
  }
  #content-right{
    width: 100%;
    display: block;
    float: right;
    padding-top:80px;
  }


  header ul{
    display: none
  }

  .content-form {
  }
  .message-left-form{
    font-size: 25px;
  }
  input{
    display: block;
    width: 100%;
    height: 40px;
    margin:10px 0px 10px 0px;
    float: right;
    border-radius: 5px;
    border: none;
  }

  #content-left-form{
    width: 100%;
    height: 160px;
    display: block;
    float: left;
  }

  .footer-left-box{
    width: 30%;
    float: left;
  }
  
  .footer-right-box{
    float: right;
    padding: 52px 0px 0px 0px; 
  }
  
  img footer{
    max-width: 20px;
  }
   .contact-title{
     padding-top:40px;
   }

   .contact-mail{
    font-size:22px;
  }

  .logo-footer{
    font-size: 24px;
    font-weight: 700;
  }
  .footer-icon{
    width: 120px;
  }

  .content-form{
    
  }
  .logo-desktop-white-rotate{
    display: none;
  }

  .margin-top80{
    margin-top: 80px;
  }

  #arrow{
    display: none
  }


  /* SINGLE PROJECT 120 to 480 */
  .content{
    padding-top:80px
  }

  .box-artwork-single {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }

  .single-box{
    width: 90%;
    margin:auto;
  }
  .paragraph-mobile{
    padding: 24px 5% 16px 20%;
    font-size: 18px;
  }

  .title-mobile{
    font-weight: 800;
    font-size: 40px;
  }

  .brand-mobile {
    font-size: 16px;
    font-weight: 400;
    display: inline;
    color: #9e9e9e;
  }


  .grid-single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap:20px;
    max-width: 100%;
    background-color: white
  }

  .quote-client{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #9e9e9e;
    margin-top: 32px;
    display: block;;
  }

  .quote-client-representant{
    text-align: center;
    color: #7a7a7a;
    padding-bottom: 40px;
  }

  /* SINGLE PROJECT */
  
  /* SIDEBAR */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    background-color: #424242;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.2s;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a:hover {
    color: #9e9e9e;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 11px;
    right: 24px;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* SIDEBAR END */

}

/* MAX WIDTH 320 PX  - END */

/* MAX WIDTH 810 PX  - START */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 699px) {
  
  header{
    width: 100% !important;
    height: 88px;
    display:block;
    position:fixed;
    line-height: 88px;
  } 

  .box-menu{
    display: inline-block;
    float: right;
    padding:36px 36px 0px 0px;
  }

  .menu-hamburger {
    cursor:pointer;
    display: block;
    color: inherit;
  }

  h1{
    font-size: 48px;
  }

  h2{
    font-size: 22px;
    line-height: 24px;
  }
  
  h3{
    font-size: 32px !important;
  }

  .hero-box{
    width: 70%;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 176px;
    margin-bottom: 120px;
    position: relative;
  }
  
  .left-item{
    width: 100%;
  }
  
  .hero-message{
    line-height: 48px;
    font-weight: 500;
    font-size: 48px;
    padding-bottom: 16px;
  }

  .button-primary{
    margin-top: 40px;
  }

  .description-desktop-white-rotate{
    display: none;
  }

  #content-right{
    width: 100%;
    display: block;
    float: right;
  }

  .single-box{
    margin: 16px 5% 0px 5%;
    width:90%;

  }
  .single-right-box{
    padding: 0px 5%;
    text-align: left;
  }

  h3{
    font-size: 40px !important;
  }
  
  
  .content-1{
    height: 400px;
    padding: 0px 10px 0px 10px;
    /* background-image: url(/img/background-noncreative.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bigtitle{
    font-size:55px;
    text-decoration: underline;
    font-weight: 600 !important;
    padding-left:60px;
    padding-top:115px;
    color: #424242;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap:10px;
    max-width: 100%;
    padding: 10px 10px 0px 10px;
    background-color: white
  }

  .grid > div {
    padding:1em;
    background-color: #F0F0F0
  }

  .description{
    font-size: 17px;
    color:#424242;
    padding: 105px 20px 0px 190px;
    line-height: 23px;
  }
  
  .message-left-form{
    font-size: 30px;
  }
  input{
    display: block;
    width: 100%;
    height: 40px;
    margin:10px 0px 10px 0px;
    float: right;
    border-radius: 5px;
    border: none;
  }

  .contact-mail{
    font-size: 30px;
  }

  #content-left-form{
    width: 100%;
    height: 160px;
    display: block;
    float: left;
  }

  .logo-desktop-white-rotate{
    display: none;
  }

  #arrow{
    display: none
  }

  .logo-footer{
    font-size: 24px;
    font-weight: 700;
  }
  .footer-icon{
    width: 120px;
  }
  /* SINGLE PROJECT */
  .content{
    padding-top:80px
  }

  .box-artwork-single {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }

  .paragraph-mobile{
    padding: 40px 8% 40px 20%;
    font-size: 22px;
    }

    .margin-top80{
      margin-top: 80px;
    }

  .title-mobile{
    font-weight: 800;
    font-size: 40px;
  }

  .brand-mobile {
    font-size: 16px;
    font-weight: 400;
    display: inline;
    color: #9e9e9e;
  }

  .grid-single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap:20px;
    max-width: 100%;
    background-color: white
  }

  .grid-single > div {

  }

  .quote-client{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #9e9e9e;
    display: block;;
  }

  .quote-client-representant{
    text-align: center;
    color: #7a7a7a;
    padding-bottom: 40px;
  }

  /* SINGLE PROJECT */

  /* SIDEBAR */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    background-color: #424242;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.2s;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a:hover {
    color: #9e9e9e;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 11px;
    right: 24px;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* SIDEBAR END */

}

/* MAX WIDTH 699 PX  - END */

@media only screen and (min-width:700px){
  header{
    width: 100% !important;
    height: 88px;
    display:block;
    position:fixed;
    line-height: 88px;
  } 

  h3{
    font-size: 40px;
  }

  .box-menu{
    display: inline-block;
    float: right;
    padding:36px 36px 0px 0px;
  }

  .menu-hamburger {
    cursor:pointer;
    display: block;
    color: inherit;
  }

  #content-right{
    width: 100%;
    display: block;
    float: right;
  }

  .single-box{
    margin: auto;
    width:70%;
  }

  .single-right-box{
    padding: 24px 3%;
    text-align: left;
  }

  .margin-top80 {
    margin-top: 100px;
  }
  
  
  .content-1{
    height: 400px;
    padding: 0px 10px 0px 10px;
    /* background-image: url(/img/background-noncreative.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bigtitle{
    font-size:55px;
    text-decoration: underline;
    font-weight: 600 !important;
    padding-left:60px;
    padding-top:115px;
    color: #424242;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    grid-column-gap:10px;
    max-width: 84%;
    padding: 10px 100px 0px 100px;
    background-color: white;
    margin:auto
  }

  .grid > div {
    padding:1em;
    background-color: #F0F0F0
  }

  .box1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    text-align: center;
  }

  .box2 {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    background-size: cover;
    background-position:center;
  }

  .box3 {
    grid-column: 1/2;
    grid-row: 3/6;
  }

  .box4{
    grid-column: 2 / 4;
    grid-row: 4 / 6 ;
  }

  .box5{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .box6 {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  .box7 {
    grid-column: 3/3;
    grid-row: 3/6;
  }

  .box8{
    grid-column: 1 / 3;
    grid-row: 4 / 6 ;
  }

  .description{
    font-size: 17px;
    color:#424242;
    padding: 105px 20px 0px 190px;
    line-height: 23px;
  }
  
  .message-left-form{
    font-size: 30px;
  }
  input{
    display: block;
    width: 100%;
    height: 40px;
    margin:10px 0px 10px 0px;
    float: right;
    border-radius: 5px;
    border: none;
  }

  .contact-mail{
    font-size: 30px;
  }

  #content-left-form{
    width: 100%;
    height: 160px;
    display: block;
    float: left;
  }

  #arrow{
    display: none
  }

  .logo-footer{
    font-size: 24px;
    font-weight: 700;
  }
  .footer-icon{
    width: 107px;
  }
  /* SINGLE PROJECT */
  .content{
    padding-top:80px
  }

  .box-artwork-single {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    max-width: 1000px;
    margin: auto;
  }

  .paragraph-mobile{
    padding: 20px 20% 40px 20%;
    font-size: 24px;
  }

  .title-mobile{
    font-weight: 800;
    font-size: 56px;
  }

  .brand-mobile {
    font-size: 16px;
    font-weight: 400;
    display: inline;
    color: #9e9e9e;
  }

  .grid-single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap:20px;
    max-width: 100%;
    background-color: white
  }

  .grid-single > div {

  }

  .quote-client{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #9e9e9e;
    margin-top: 40px;
    display: block;;
  }

  .quote-client-representant{
    text-align: center;
    color: #7a7a7a;
    padding-bottom: 40px;
  }

  /* SINGLE PROJECT */

  /* SIDEBAR */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    background-color: #424242;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.2s;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a:hover {
    color: #9e9e9e;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 11px;
    right: 24px;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* SIDEBAR END */

}

@media only screen and (max-width: 1243px){

  .description-desktop-white-rotate{
    display: none;
  }

}


@media only screen and (min-width :1279px) {

  header{
    width: 100% !important;
    height: 88px;
    display:block;
    position:fixed;
    line-height: 88px;
  } 

  .box-menu{
    display: inline-block;
    float: right;
    padding:36px 36px 0px 0px;
  }

  .menu-hamburger{
    cursor:pointer;
    display: block;
    color: inherit;
  }

  .description {
    font-size: 28px;
    color: #424242;
    padding: 140px 40% 0px 0%;
    line-height: 39px;
  }

  #content-right{
    width: 100%;
    display: block;
    float: right;
  }

  .bigtitle {
    font-size: 80px;
    text-decoration: underline;
    font-weight: 600 !important;
    padding-left: 18%;
    padding-top: 115px;
    color: #424242;
  }

  #arrow{
    display: none
  }

  .content-1{
    height: 400px;
    padding: 100px 10px 0px 10px;
  }

  .grid-single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap:20px;
    max-width: 100%;
    background-color: white
  }

  .grid-single > div {

  }

  .margin-top80 {
    margin-top: 160px;
  }

  /* SIDEBAR */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.2s;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidenav a:hover {
    color: #9e9e9e;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 11px;
    right: 24px;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* SIDEBAR END */

  
  /* SINGLE PROJECT */
  .content{
    padding-top:80px
  }

  .box-artwork-single {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }

  .paragraph-mobile{
    padding: 0px 20% 60px 20%;
    font-size: 28px;
  }

  .title-mobile{
    font-weight: 800;
    font-size: 56px;
  }

  .brand-mobile {
    font-size: 24px;
    font-weight: 400;
    display: inline;
    color: #9e9e9e;
  }

  #menu-hamburguer-mobile{
    height: 16px !important;
    display: block;
  }

  .grid-single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap:20px;
    max-width: 100%;
    background-color: white
  }

  .grid-single > div {

  }

  .quote-client{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #9e9e9e;
    margin-top: 40px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .quote-client-representant{
    text-align: center;
    color: #7a7a7a;
    padding-bottom: 72px;
  }

  /* SINGLE PROJECT */

}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/* 
for zoom animation 
uncomment this part if you haven't added this code anywhere else
*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.bounce-bottom {
	-webkit-animation: bounce-bottom 2s 2s infinite alternate-reverse both;
	        animation: bounce-bottom 2s 2s infinite alternate-reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-23 16:17:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 9;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 9;
  }
  24% {
    opacity: 9;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 9;
  }
}

